/*
colors used:
primary color (blue): #178af0
secondary color (red): #ff4f4f
black color: #000000
body text color (dark grey): #303030
takeaway color (light grey): #8f8f8f
*/
body{
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* sets the font size to 16px */
  font-weight: 300; /* sets the font weight to 300 */
  line-height: 1.6; /* sets the line-height to 1.6 X the font-size */
  color: #303030;
}

h1, h2, h3, h4, h5 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  color: #000000;
}
h2 {
  font-size: 2.5em;
  font-weight: 900;
  color: #8f8f8f;
}
h3 {
  font-size: 2.25em;
  font-weight: 700;
  color: #000000;
}
h4 {
  font-size: 1.35em;
  font-weight: 700;
  color: #000000;
}
h5 {
  font-size: 1.35em;
  font-weight: 900;
  color: #8f8f8f;
}
img {
  width: 100%;
}
a {
  color: #178af0;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #ff4f4f;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #f78888;
}
a:active { /* selected link */
  color: #ff4f4f;
}
a:hover,
a:focus {
  color: #ff4f4f;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #178af0;
  color: #ffffff; /* needed to override the dfault link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #178af0; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff;
}
.button.contact {
  background-color: transparent;
  color: #178af0;
  text-transform: uppercase;
  border: 2px solid #178af0;
}
.button.contact:hover { /* for contact button hover state */
  color: #ff4f4f;
  border: 2px solid #ff4f4f;
}
