/*
colors used:
primary color (blue): #178af0
secondary color (red): #ff4f4f
black color: #000000
body text color (dark grey): #303030
takeaway color (light grey): #8f8f8f
*/
* {
  box-sizing: border-box;
}

.container {
  padding: 0 30px;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* sets the font size to 16px */
  font-weight: 300; /* sets the font weight to 300 */
  line-height: 1.6; /* sets the line-height to 1.6 X the font-size */
  color: #303030;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 2.5em;
  font-weight: 900;
  color: #8f8f8f;
}

h3 {
  font-size: 2.25em;
  font-weight: 700;
  color: #000000;
}

h4 {
  font-size: 1.35em;
  font-weight: 700;
  color: #000000;
}

h5 {
  font-size: 1.35em;
  font-weight: 900;
  color: #8f8f8f;
}

img {
  width: 100%;
}

a {
  color: #178af0;
  text-decoration: none; /* No underlining */
}

a:hover {
  color: #ff4f4f;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #f78888;
}

a:active { /* selected link */
  color: #ff4f4f;
}

a:hover,
a:focus {
  color: #ff4f4f;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #178af0;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #178af0; /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  background-color: #ff4f4f;
  border-bottom: 2px solid #ff4f4f;
  color: #ffffff;
}

.button:visited {
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #178af0;
  text-transform: lowercase;
  border: 2px solid #178af0;
}

.button.contact:hover { /* for contact button hover state */
  color: #ff4f4f;
  border: 2px solid #ff4f4f;
}

/* layout styling ------------------------------------------------------------------------------------ */

header {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 15px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: lowercase;
  font-weight: 700;
  color: #8f8f8f;
}

nav > ul > li > a:visited{
  color: #8f8f8f;
}

nav > ul > li > a:hover,
a:focus {
  color: #000000;
  text-decoration: none;
}

nav > ul > li > a.current-page {
  color: #178af0; /* attempting to change color of "current" page being viewed...!!! */
}

main {
  padding-top: 133px;
}

#homepage-intro {
  background-color:#ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#homepage-intro {
  text-align: center; /* centers text */
}

#homepage-intro span {
  font-size: 1.35em;
}

#homepage-intro h1{
  margin: 0;
  padding: 0.67em 0;
}

#case-studies {
  text-align: center;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#case-studies .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #8f8f8f;
}

footer {
  text-align: center;
}

.button.contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-icon {
  height: 40px;
  width: 40px;
  margin: 10px 15px 10px 15px;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  100% {fill: #f76414;}
}
.sun { /* this can also be written as: .sun { animation: 4s color-change infinite alternate linear} */
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear; 
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width:640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%
  }

  [class*="col-"] {
    float: left;
    padding: 0px 10px 0px 10px;
    text-align: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }


}
/* ==============================
Large devices (1024px and larger)
================================= */
@media only screen and (min-width:1024px) {

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

}
/* ==============================
X-large devices (1440px and larger)
================================= */
@media only screen and (min-width:1440px) {
}
